{% extends "registration/registration_base.html" %}
{% load i18n %}{% load crispy_forms_tags %}{% load staticfiles %}

{% block title %}{% trans "Log in" %}{% endblock %}


{% block content %}

  <div class="single-col">
    <a class="header-main main-logo" href="#"><img src="{% static 'mailfit_blue.png' %}"><span>Store</span></a>
    <div class="single-col-text">{% trans "Not a user yet?" %} <a href="{% url 'registration_register' %}">{% trans "Sign up" %}</a></div>
    <div class="single-col-form">
    {% if next %}
    <input class="textinput textInput form-control" type="hidden" name="next" value="{{ next }}" />
    {% endif %}
      <form method="post" action="" class="reg-form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-bottom-wrap">
            <span>{% trans "Forgot password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Recover" %}</a></span>
        </div>

        <div class="input-button-wrap">
        <input type="submit" class="reg-btn" value="{% trans 'Login' %}" />
        </div>

      </form>
      
    </div>
  </div>




<script type="text/javascript">
$('#id_email').attr('placeholder', '{% trans "Login (Email)" %}')
$('#id_password').attr('placeholder', '{% trans "Password" %}')
</script>
{% endblock %}


{% comment %}
{% block content %}
<div class="col-sm-12" style="padding-top: 70px;background-color: #f4f6f9;">
    <div class=' col-sm-4 col-sm-offset-4'>

<p>{% trans "Еще нет учетной записи?" %} <a href="{% url 'registration_register' %}">{% trans "Зарегистрироваться" %}</a>.</p>
<div class='col-sm-8'>
<form method="post" action="">

    {% csrf_token %}
    {{ form|crispy }}
    
    <p>{% trans "Забыли пароль?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Восстановить пароль" %}</a>.</p>
    <input type="submit" class="btn btn-default" value="{% trans 'Войти' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
<br><br>
</div>
</div>
{% endblock %}
{% endcomment %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
