{% extends "registration/registration_base.html" %}
{% load i18n %}{% load crispy_forms_tags %}{% load staticfiles %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}


  <div class="single-col">
    <a class="header-main main-logo" href="#"><img src="{% static 'mailfit_blue.png' %}"><span>Store</span></a>
    <div class="single-col-text">{% trans "Enter your new password below to reset your password:" %}</div>
    <div class="single-col-form">
      <form method="post" action="" class="reg-form">
	    {% csrf_token %}
	    {{ form|crispy }}
        <div class="input-button-wrap">
       	 <input type="submit" class="reg-btn" value="{% trans 'Set password' %}" />
        </div>

      </form>
      
    </div>
  </div>

  
{% endblock %}


{# This is used by django.contrib.auth #}
