{% extends "registration/registration_base.html" %}
{% load i18n %}{% load staticfiles %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}

  <div class="single-col single-col_wide">
    <a class="header-main main-logo" href="#"><img src="{% static 'mailfit_blue.png' %}"><span>Store</span></a>
    <div class="single-col-text  single-col-text_big">
    {% trans "Your password has been reset!" %}<br> {% blocktrans %}Вы можете <a href="{{ login_url }}">войти</a>{% endblocktrans %}.
    </div>
  </div>


{% endblock %}


{# This is used by django.contrib.auth #}
