{% extends "registration/registration_base.html" %}
{% load i18n %}{% load staticfiles %}{% load staticfiles %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}


  <div class="single-col single-col_wide">
    <a class="header-main main-logo" href="#"><img src="{% static 'mailfit_blue.png' %}"><span>Store</span></a>
    <div class="single-col-text single-col-text_big">
    {% blocktrans %}
    	Мы выслали Вам письмо со ссылкой для восстановления пароля, если такой имейл был в нашей базе
	{% endblocktrans %}
    </div>

  </div>

{% endblock %}


{# This is used by django.contrib.auth #}
