{% extends "registration/registration_base.html" %}
{% load i18n %}{% load crispy_forms_tags %}{% load staticfiles %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

  <div class="single-col">
    <a class="header-main main-logo" href="#"><img src="{% static 'mailfit_blue.png' %}"><span>Store</span></a>
    <div class="single-col-text">
    {% blocktrans %}
    	Забыли пароль?<br> Введите ваш email для восстановления.
	{% endblocktrans %}
    </div>
    <div class="single-col-form">
      <form method="post" action="" class="reg-form">
	    {% csrf_token %}
	    {{ form|crispy }}
        <div class="input-button-wrap">
       	 <input type="submit" class="reg-btn" value="{% trans 'Восстановить' %}" />
        </div>

      </form>
      
    </div>
  </div>


{% endblock %}


{# This is used by django.contrib.auth #}
