@font-face {
  font-family: 'MullerMedium';
  src: url("../fonts/MullerMedium/MullerMedium.eot");
  src: url("../fonts/MullerMedium/MullerMedium.eot") format("embedded-opentype"), url("../fonts/MullerMedium/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium/MullerMedium.ttf") format("truetype"), url("../fonts/MullerMedium/MullerMedium.svg#MullerMedium") format("svg"); }

@font-face {
  font-family: 'MullerBold';
  src: url("../fonts/MullerBold/MullerBold.eot");
  src: url("../fonts/MullerBold/MullerBold.eot") format("embedded-opentype"), url("../fonts/MullerBold/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold/MullerBold.woff") format("woff"), url("../fonts/MullerBold/MullerBold.ttf") format("truetype"), url("../fonts/MullerBold/MullerBold.svg#MullerBold") format("svg"); }

@font-face {
  font-family: 'MullerRegular';
  src: url("../fonts/MullerRegular/MullerRegular.eot");
  src: url("../fonts/MullerRegular/MullerRegular.eot") format("embedded-opentype"), url("../fonts/MullerRegular/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular/MullerRegular.ttf") format("truetype"), url("../fonts/MullerRegular/MullerRegular.svg#MullerRegular") format("svg"); }


@font-face {
  font-family: 'MullerLight';
  src: url("../fonts/MullerLight/MullerLight.eot");
  src: url("../fonts/MullerLight/MullerLight.eot") format("embedded-opentype"), url("../fonts/MullerLight/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight/MullerLight.woff") format("woff"), url("../fonts/MullerLight/MullerLight.ttf") format("truetype"), url("../fonts/MullerLight/MullerRegular.svg#MullerLight") format("svg"); }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, 
body {
    height: 100%;
}

a {
	text-decoration: none;
}

h3 {
	color: #0066ff;
}
img{
	max-width: 100%;
}
footer {
	background-color: #e1e5e9;
	padding: 40px 0;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td, figcaption, figure {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: 0; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

img {
  max-width: 100%;
  }
a:hover{
	color: #2865f1;	
}
.profile-img {
	max-height: 250px;
	max-width: 250px;
}
body {
	padding-top: 80px;
	color: #626b79;
	font-size: 16px;
	background-color: #fff;
}
#profileBody {
	padding: 20px;
	padding-top: 70px;
	background-color: #f4f6f9;
	min-height: 70%;
}

#profileInnerBody {
	padding-left: 100px;
}

.main-logo.footer-main {
	color: #96a2af;
}
.main-logo.header-main {
	color: #2865EB;
}
.main-logo{
	display: inline-block;
}
.main-logo img{
	display:inline-block;
	vertical-align:middle;
	width: 33px;
	margin-right: 7px;
	height: auto;
	margin-bottom: 4px;
}
.main-logo:hover,
.main-logo span{
	text-decoration: none;	
}
.main-logo span{
	text-transform:uppercase;
	vertical-align:middle;
	display: inline-block;
	font-size: 24px;
	font-family: 'MullerBold', sans-serif;
	text-decoration: none;	
}

.wrapper{
	margin: 0 auto;
	max-width: 1500px;

}
.page-wrap{
	margin: 37px 15px 45px;
}
.main-navbar .form-group:last-child{
	padding-right: 0;
}
.main-navbar .form-group{
	margin-bottom: 0;
	float: left;
	padding-right: 40px;
	display: inline-block;
}

.main-navbar{
	background-color: #fff;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #dde2e8;
}
input.reg-btn[disabled]{
	background-color: #ccc;
}
.input-button-wrap .reg-btn{
	padding-left: 24px;
	padding-right: 24px;
	height: 50px;
	min-width: 178px;
	display: inline-block;
	margin: auto;
}
.reg-btn{
	border: none;
	font-family: 'MullerMedium', sans-serif;
	min-width: 178px;
	padding: 11px 20px 13px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	background-color: #42c701;
	border-radius: 3px;
	text-decoration: none;
	box-sizing: border-box;
    transition: all .2s ease-out;
}
.reg-btn:hover{
    transition: all .2s ease-in;
	background-color: #51f600;
	text-decoration: none;
	color: #fff;
}
.grey-btn{
	padding: 8px 20px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	background-color: #7f8c9b;
	border-radius: 3px;
	border: 1px solid #e8ecee;
	cursor: pointer;
	font-family: 'MullerRegular', sans-serif;
	transition: all .2s ease-out;
}
.grey-btn:hover{
	transition: all .2s ease-in;
	background-color: #b6c1ce;
}
.blue-btn{
	padding: 10px 20px 12px;
	font-family: 'MullerMedium', sans-serif;
	color: #2865f1;
	text-align: center;
	font-size: 22px;
	background: none;
	border-radius: 3px;
	border: 1px solid #2865f1;
	cursor: pointer;
	transition: all .2s ease-out;
}
.blue-btn:hover{
	transition: all .2s ease-in;
	color: #fff;
	background: #2865f1;
}
.button-container{
	margin-top: 30px;
}
.button-container > form{
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	margin-top: 15px;
}

.navbar-link-customized.active,
.navbar-link-customized:hover{
	color: #2865f1;
	border-bottom-color: transparent;
}
.navbar-link-customized + span{
	padding-left: 5px;
	color: #4f5254;
	font-family: 'MullerRegular', sans-serif;
}
.navbar-link-customized {
	font-family: 'MullerMedium', sans-serif;
	color: #7f8c9b;
	text-decoration: none !important;
	border-bottom: 1px solid #ccd1d7;
}

.col-centered{
	float: none;
	margin: 0 auto;
	max-width: 1040px;
}
.grid-wrap{
	margin-bottom: 130px;
}
.grid-wrap .thumbnail{
	padding: 0;
	position: relative;
	height: 20.7vw;
}
.grid-item:hover .grid-img-inner,
.grid-item:hover .grid-img-inner:before{
	opacity: 1;
    transition: opacity .2s ease-in;
}
.grid-img-inner .reg-btn{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: -14px;
	margin: auto;
	z-index: 10;
	box-shadow: 0 12px 47px rgba(18, 55, 0, 0.47);
	height: 50px;
	width: 178px;
}
.grid-img-inner{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 55px;	
    transition: opacity .2s ease-out;
    opacity: 0;
}
.grid-img-inner:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s ease-out;
    background-color: rgba(0,0,0,0.45);
}
.grid-img img{
	border-radius: 3px;
}
.grid-img{
	position: relative;
	padding-bottom: 7%;
}
.grid-title{
	border-top: 2px solid #f8f8f8;
	padding: 33px 0 37px;
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	text-align: center;
	margin: 0;
}
.grid-item:hover .grid-title span{
	border-color: transparent;
    transition: all .2s ease-in;
}
.grid-title span{
    transition: all .2s ease-out;
	font-size: 22px;
	color: #2865f1;
	font-family: 'MullerBold', sans-serif;
	display: inline-block;
	line-height: 1;
	border-bottom: 2px solid #93b2f8;
}
.grid-actions-btn .st0{
	fill: #fff;
}
.grid-actions-btn .st1{
	fill: none;
}
.grid-actions{
	position: absolute;
	right: 17px;
	top: 15px;
	z-index: 10;
}

.grid-actions-item{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.grid-actions-item:nth-of-type(1){
	margin-right: 17px;
}
.grid-actions-item:nth-of-type(2){
	margin-right: 14px;
}
.grid-actions-tooltip:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    margin: auto;
    width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 4px 0 4px;
	border-color: rgba(0,0,0,0.90) transparent transparent transparent;
}
.grid-actions-item:hover .grid-actions-tooltip{
    transition: all 0.2s ease-in .2s;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
.grid-actions-tooltip{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
    position: absolute;
    font-size: 11px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.90);
    padding: 8px 0;
    left: -97%;
    z-index: 10;
    margin: auto;
    text-align: center;
    width: 62px;
    box-sizing: border-box;
    top: -41px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    margin-top: 5px;
    transition: all 0.15s ease-out;
}
.strong-title{
	font-size: 24px;
	font-family: 'MullerBold', sans-serif;
	margin-bottom: 34px;
}
.strong-title_v2{
	margin: 56px 0 26px;
}
.reg-title{
	font-family: 'MullerRegular', sans-serif;
	text-align: center;
	font-size: 24px;
	line-height: 1.25;
	margin: 5.3% 0;
}
.reg-title_thin{
	margin: 35px 0 68px;
	text-align: left;
}
.reg-title_thin2{
	margin: 35px 0 38px;
	text-align: left;
	
}
.add-item-inner:hover .add-item-text{
	text-decoration: none;
}
.add-item-text{
	font-family: 'MullerBold', sans-serif;
	font-size: 22px;
	color: #2865f1;
	text-decoration: underline;
	position: absolute;
	text-align: center;
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: table;
    width: 100%;
}
.add-item-text_wht{
	color: #fff;
}
.add-item-img{
	display: block;
}
.add-item-inner{
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.footer-txt a:hover{
	text-decoration: none;
}
.footer-txt a{
	font-family: 'MullerRegular', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #7b8fa4;
}
.navbar-toggle{border: none;margin: 31px 0;padding: 0;}
.icon-bar{background-color: #42c701;}
.navbar-toggle.collapsed .icon-bar{background-color: #2865EB;}


.social-block-item .st0{
	fill: #a5afbb;
}
.footer-logo span{color: #a5afbb;}
.footer-logo{color:#96a2af;margin-bottom:30px}

.social-block-item{display:inline-block;vertical-align:middle;color:#a5afbb;margin-right:25px}
.footer-menu{display:block;padding:5px 0 10px;margin:0;list-style-type:none;	font-family: 'MullerMedium', sans-serif;font-size:16px}
.footer-menu li:last-child{	margin-right: 0;}
.footer-menu li{display:inline-block;margin-right: 30px;}
.footer-menu li a{color:#7b8fa4;text-decoration: underline;}
.footer-menu li a span{border-bottom:1px solid rgba(123,143,164,.4)}
.footer-menu li a:hover{text-decoration: none;}
.footer-menu li a:hover span{}
.footer-menu li.current-menu-item a span,.footer-menu li.current_page_parent a span{border:none}
.form_mail{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-form-descr{color: #7b8fa4;font-size:16px;font-family: 'MullerMedium', sans-serif;line-height:20px;margin-bottom:25px}
.footer-form .form-control{border:1px solid #a1acb8;display:inline-block;vertical-align:middle;height: 40px;}
.footer-form-btn{display:inline-block;vertical-align:middle;font-family: 'MullerRegular', sans-serif;font-size:16px;color:#fff;background-color:#7f8c9b;border-radius:3px;width:134px;margin-left: 5px;height:40px;border:none;}
.footer-form-btn:hover{background-color:#42c701;color:#fff}
.footer-form .mc-response{color:#7b8fa4}
.footer-info{padding-top:35px;font-size:14px;color:#a9b2bb}.footer-info-item{display:inline-block;margin-right:15px;font-family: 'MullerRegular', sans-serif;}


.controls .radio label,
.form-bottom-wrap span,
.checkbox-item + span {
  display: inline-block;
  position: relative;
  line-height: 1.5;
  font-weight: normal;
  font-size: 14px;
  padding-left: 23px;
  font-family: 'MullerRegular', sans-serif;
  }
.checkbox-label:last-child {
  margin-bottom: 0; }

.checkbox-label {
  display: block;
  text-align: left;
  cursor: pointer;
  margin-bottom: 15px; }

.input-button-wrap,
.checkbox-wrap{
	margin-top: 30px;
}
.controls .radio input,
.checkbox-item {
  opacity: 0;
  visibility: hidden;
  display: none; }

.controls .radio label{
	position: relative;
}


.controls .radio input:checked + span:before,
.checkbox-item:checked + span:before {
 border-bottom: 3px solid #2751ad;
border-right: 3px solid #2751ad;
content: '';
display: block;
height: 12px;
pointer-events: none;
position: absolute;
left: 3px;
top: 5px;
transform-origin: 120% 50%;
transform: rotate(39deg);
transition: all 0.15s ease-in-out;
width: 7px;
z-index: 10;}

.controls .radio input + span:after,
.checkbox-item + span:after {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 2px;
  content: '';
  display: block;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.41);
  border: 1px solid #dbdbdb; }

.controls .radio input + span:after,
.radio-wrap .checkbox-item + span:after {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
	top: 2px;
}
.controls .radio input:checked + span:before,
.radio-wrap .checkbox-item:checked + span:before{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #42c701;
	transform: none;
	border: none;
	left: 5px;
	top: 7px;
}
.controls .radio label,
.radio-wrap .checkbox-item + span {
	padding-left: 28px;
	font-size: 16px;
	color: #626262;
}
.form-bottom-wrap span a:hover,
.checkbox-item + span a:hover{
	text-decoration: none;
}
.form-bottom-wrap span a,
.checkbox-item + span a {
	color: #2865f1;
	text-decoration: underline;
}
.single-col-form{
	margin: 0 34px;
}
.single-col{
	max-width: 400px;
	margin: 5% auto 20px;
	text-align: center;
}
.single-col_wide{
	margin-top: 2%;
	max-width: 100%;
}
.reg-form .form-group{
	margin-bottom: 20px;
}
.two-cols-item .reg-form .form-group{
	margin-bottom: 35px;
}
.form-bottom-wrap{
	margin-top: 25px;
}
.reg-form .form-control_thin{
	width: 152px;
}
#div_id_date{
	margin-top: 5px;
}
.reg-form .form-control::-webkit-input-placeholder {color:#626262;}
.reg-form .form-control::-moz-placeholder          {color:#626262;}
.reg-form .form-control:-moz-placeholder           {color:#626262;}
.reg-form .form-control:-ms-input-placeholder      {color:#626262;}
.reg-form .form-control{
	border: 1px solid #dbdbdb;
	height: 40px;
	padding: 0 10px 0 21px;
	font-size: 16px;
	color: #626262;
	font-family: 'MullerLight', sans-serif;
	border-radius: 3px;
	box-shadow: none;
}
.unstyled::-webkit-clear-button,
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
label[for="id_news_links"]{
	/*display: none;*/
}
.reg-form textarea.form-control{
	resize: none;
	height: 155px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.reg-form .two-cols-item_indent_r2 textarea.form-control{
	height: 104px;
}
.single-col-text a:hover{
	text-decoration: none;
}
.single-col-text{
	font-family: 'MullerRegular', sans-serif;
	margin: 31px 0 33px;
}
.single-col-text_big{
	font-size: 30px;
	margin: 10% 0 80px;
}
.single-col-text a{
	margin-left: 1px;
	color: #2865f1;
	text-decoration: underline;
}
.flex-sb{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.two-cols-item{
	width: 46.4%;
}
.two-cols-item_v2{
	width: 48.8%;
}
.two-cols-item_indent_r{
	padding-right: 2.4%;
}
.two-cols-item_indent_r2{
	padding-right: 3.8%;
}
.two-cols-item_indent_r2 .form-group{
	margin-bottom: 0;
}
#iframeLetter{
	width: 100%;
	border: 1px solid #ececec;
}
.reg-link_plus:before,
.reg-link_arrl:before{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAG1BMVEUAAAAiYPUiYPUiX/QiYPUiYPUiYPUiYPUiYPRtFT1bAAAACHRSTlMAEURmZneZu0c2ghEAAAAoSURBVHgBYwABViYGKGBhw8di4mCHABYGBjYWmCgamxmJzQRnMoJJACE/AIsxsjtYAAAAAElFTkSuQmCC);
	background-position: 0 70%;
	content: '';
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: -18px;
	top: 0;
	bottom: 0;
	width: 18px;
}
.reg-link_plus:before{
	background-position: center;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAIVBMVEUAAAAiYPUiYPUiYPQiYPUiX/QiYPUiYPUiYPUiYPUiYPXaB0MKAAAACnRSTlMAIjNERHd3mbvMKlMhrgAAACVJREFUeAFjAAJGJgYIYONAYTAys7BzsrAwMrBxgQEbihpWFMUAFy8AslGj7QAAAAAASUVORK5CYII=);
	background-position: center 40%;
	content: '';
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: -20px;
	top: 0;
	bottom: 0;
	width: 20px;
}

.reg-link svg{
	vertical-align: -2px;
	margin-right: 7px;
}
.reg-link_plus{
	position: relative;
	margin-left: 20px;
}
.reg-link_html{
	margin-right: 38px;
}

.reg-link_arrl{
	margin-left: 18px;
	position: relative;

}
.reg-link:hover{
	text-decoration: none;
}
.reg-link{
	font-family: 'MullerRegular', sans-serif;
	color: #2865f1;
	text-decoration: underline;
}
#id_addLinkInput{
	margin-top: 15px;
	display: inline-block;
}

.two-cols-item .form-label{
	width: 34%;
	margin-top: 10px;
}
.two-cols-item_indent_r2  .form-label{
	margin-top: -2px;
}
.two-cols-item .form-group{
	width: 65%;
}
.export-header-label,
.form-label{
	font-weight: normal;
	font-family: 'MullerMedium', sans-serif;
	color: #626262;
	margin-bottom: 0;
	line-height: 1.3;
}

#div_id_news_links .input-group{
	margin-top: 17px;
}
.reg-form .input-group-btn,
.reg-form .input-group-btn button{
	height: 100%;
}
.form-file-block{
	margin-top: 42px;
}
.form-file-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 13px;
	flex-wrap: nowrap;
}
.form-file-img{
	flex: 0 1 auto;
	width: 98px;
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #e1e5e9;
}
.form-file-actions{
	margin-top: 8px;
	flex: 1 1 auto;
	margin-left: 22px;
	width: 270px;
}
.form-file-actions span{
	font-size: 14px;
	color: #7f8c9b;
	font-family: 'MullerRegular', sans-serif;
	display: block;
	margin-top: 3px;
}
.one-row-form-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
}
.one-row-form{
	margin-bottom: 35px;

}
.one-row-form-wrap .form-control{
	max-width: 360px;
	width: 100%;
}

.one-row-form-wrap .blue-btn{
	padding: 0 16px;
	font-size: 18px;
	margin-left: 16px;
}
.radio-wrap{
	margin-top: 22px;
}
.export-block{
	margin-top: 65px;
}
.export-header{
	margin-top: 20px;	
}
.export-header-item:nth-of-type(1){
	margin-right: 85px;
}
.export-header-item:hover,
.export-header-item:hover span{
	text-decoration: none;
}
.export-header-item span{
	margin-left: 13px;
	font-size: 22px;
	color: #2865f1;
	font-family: 'MullerMedium', sans-serif;
	text-decoration: underline;
}
.js-tab-pane {
  display: none; }

.js-tab-pane.active {
  display: block; }









@media (max-width: 1200px){
	.grid-wrap .thumbnail{
		height: 313px;
	}
	.grid-item{
		max-width: 323px;
	}
.col-centered .row{
	max-width: 632px;
	margin: 0 auto;
}
.reg-title_thin2,
.reg-title_thin{
	margin: 30px 0;
}
}
@media (max-width: 996px){
	.two-cols-item_v2{
		margin-top: 30px;
	}
	.two-cols-item_indent_r2:nth-of-type(2){
		margin-top: 38px;
	}
	.page-wrap{
		margin-left: 0;
		margin-right: 0;
	}
	.two-cols-wrap{
		display: block;
	}
	.two-cols-item{
		width: 100%;
		padding-right: 0;
	}
	.two-cols-item_indent_r{
		margin-top: 30px;
	}
	.main-navbar .form-group{
		padding-right: 20px;
	}
}
@media (max-width: 768px){
	.reg-form .form-control{
		padding-left: 15px;
	}
	.col-centered .row{
		font-size: 0;
		text-align: center;
	}
	.grid-item{
	float: none;
	vertical-align: top;
	display: inline-block;
	}	
	.col-centered {
	    padding-left: 0;
	    padding-right: 0;
	    margin-left: -15px;
	    margin-right: -15px;
	}
	.footer-form .form-control{
		width: 59%;
	}
	.footer-form-btn{
		width: 40%;
		margin-left: 1%;
	}
	.reg-title{
		margin: 70px 0;
	}
	#navbar{
		float: none !important;
		background-color: #fff;
		box-shadow: 0 3px 3px #ddd;
		max-height: 500px;
		line-height: 3.5;
		padding: 5px 0 10px 15px;
	}
	.main-navbar .form-group{
		float: none;
		display: block;
	}
	footer .col-sm-12{
		margin-bottom: 20px;
	}
	.footer-logo,
	.social-block{
		display: inline-block;vertical-align: middle;
	}
	.footer-logo{
		margin-right: 40px;
		margin-bottom: 0;
	}

}


@media only screen and (max-width: 480px) {
	.single-col-text_big{
		font-size: 24px;
	}
	.single-col{
		max-width: 320px;
	}
	.single-col-form{
		margin: 0;
	}
	.one-row-form-wrap{
		display: block;
	}
	.export-header > a,
	.links-row > a{
		display: block;
		margin-top: 20px;
	}
	.one-row-form-wrap .blue-btn{
		height: 40px;
		margin-left: 0;
		margin-top: 15px;
	}
	.page-wrap{
		margin: 30px 0 50px;
	}
	.strong-title{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.two-cols-item .reg-form .form-group{
		margin-bottom: 10px;
	}
	.flex-sb{
		display: block;
	}
	.blue-btn,
	.reg-btn{
		font-size: 18px;
	}
	.single-col-text{
		margin: 20px 0;
	}
	.single-col{
		margin-top: 0;
	}
	.two-cols-item .form-group,
	.two-cols-item .form-label,
	.grid-item{
		width: 100%;
	}
	.footer-menu li{
		margin-right: 23px;
	}
	.reg-title{
		margin: 30px 0 40px;
		font-size: 18px;
	}
	.grid-title span,
	.add-item-text{
		font-size: 20px;
	}
	.grid-wrap{
		margin-bottom: 50px;
	}
}



