{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}
{% block head_title%}Store{% endblock head_title %}


{% block head %}{% endblock head %}
{% block content %}

<div class="page-wrap">
  <a href="{% url 'store_items_list' %}" class="reg-link reg-link_arrl">{% trans 'Back to templates' %}</a>
  <div class="container-fluid">
    <div class="single-col" style="min-height: 200px">
      <div class="reg-title">
        Error 404. Page not found.
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#id_itemPay").on('click', function(e) {
    e.preventDefault();
    $("#id_orderId").val("{{ order.id }}");
    $("#id_paymentForm").submit();
  });
</script>
{% endblock content %}