<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><title>*|MC:SUBJECT|*</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta name="format-detection" content="telephone=no"/><meta name="viewport" content="width=device-width,initial-scale=1"/><!--[if (gte mso 9)|(IE)]>
	<style type="text/css" media="all">
    	table {
			border-collapse: collapse;
    		mso-table-lspace: 0;
    		mso-table-rspace: 0;
    	}
    </style>	
    <![endif]--><style type="text/css">@media only screen{a[x-apple-data-detectors]{color:inherit!important;text-decoration:none!important;font-size:inherit!important;font-family:inherit!important;font-weight:inherit!important;line-height:inherit!important}.e-wrapper .text-wrap a{color:#be3c3c!important}.e-wrapper .text-wrap a span{color:#be3c3c}}@media only screen and (max-width:634px){.logo{padding-bottom:35px!important}.cta{padding-bottom:30px!important}.one-column{padding-top:40px!important;padding-bottom:40px!important}}</style></head><body style="Margin:0;background-color:#fff"><div class="e-wrapper" style="-ms-text-size-adjust:100%;-webkit-font-smoothing:subpixel-antialiased;-webkit-text-size-adjust:100%;Margin:0;background-color:#fff;table-layout:fixed;text-align:center"><!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="100%" style="">
    <![endif]--><table class="outer" align="center" cellpadding="0" style="border-collapse:collapse;margin:0 auto;max-width:600px;width:100%"><tr><td class="one-column" style="font-size:0;padding-bottom:60px;padding-top:60px;text-align:center"><div class="column" style="-webkit-font-smoothing:subpixel-antialiased;Margin:0;display:inline-block;font-size:14px;max-width:600px;text-align:left;vertical-align:top;width:100%"><table width="100%" cellpadding="0" style="border-collapse:collapse"><tr><td class="ph" style="padding-left:20px;padding-right:20px"><!--[if (gte mso 9)|(IE)]>
    <table width="500" align="center" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="100%" style="">
    <![endif]--><table class="center" align="center" cellpadding="0" style="border-collapse:collapse;margin:0 auto;max-width:500px;width:100%"><tr><td class="logo" style="padding-bottom:55px"><a href="http://store.maxnovikov.com/" target="_blank" style="color:#be3c3c!important;text-decoration:underline"><img src="http://{{site.domain}}/media/images/common/reg/letter/logo.png" width="146" height="37" alt="Store" style="border:0;color:#254fff;font-family:Helvetica,Arial,sans-serif;font-size:30px;font-weight:700;text-align:center"/></a></td></tr><tr><td style="padding-bottom:20px"><div class="paragraph" style="-webkit-font-smoothing:subpixel-antialiased;Margin:0;color:#2e2e2e;font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:24px;text-align:left">Здравствуйте!</div></td></tr><tr><td style="padding-bottom:20px"><div class="paragraph" style="-webkit-font-smoothing:subpixel-antialiased;Margin:0;color:#2e2e2e;font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:24px;text-align:left">Вы отправили заявку для регистрации акканута на сайте интернет-магазина. Подтвердите свой имейл адрес в течение 5 дней:</div></td></tr><tr><td class="cta" style="padding-bottom:50px"><a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}" class="btn" target="_blank" style="min-width:160px;background-color:#36c700;border:16px solid #36c700;border-color:#36c700;border-radius:3px;border-style:solid;border-width:16px 26px 16px 26px;color:#fff!important;display:inline-block;font-family:Arial,Helvetica,sans-serif;font-size:16px;font-weight:700;line-height:18px;padding:0;text-align:center;text-decoration:none"><span style="color:#fff">Подтвердить</span></a></td></tr><tr><td style="padding-bottom:40px"><div class="paragraph" style="-webkit-font-smoothing:subpixel-antialiased;Margin:0;color:#2e2e2e;font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:24px;text-align:left">С уважением, команда интернет-магазина.</div></td></tr></table><!--[if (gte mso 9)|(IE)]>
    </td></tr></table>
    <![endif]--></td></tr><tr><td class="credits ph" style="border-top:1px solid #d3d3d3;padding-left:20px;padding-right:20px;padding-top:40px"><!--[if (gte mso 9)|(IE)]>
    <table width="500" align="center" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="100%" style="">
    <![endif]--><table class="center" align="center" cellpadding="0" style="border-collapse:collapse;margin:0 auto;max-width:500px;width:100%"><tr><td><div class="paragraph" style="-webkit-font-smoothing:subpixel-antialiased;Margin:0;color:#9b9b9b;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:20px;text-align:left">Если это были не вы, не отвечайте на это письмо, и вы будете удалены из списка рассылки. <a href="http://{{site.domain}}/unsubscribe" target="_blank" style="color:#616161!important;text-decoration:underline"><span style="color:#616161">Управлять настройками подписки</span></a></div></td></tr></table><!--[if (gte mso 9)|(IE)]>
    </td></tr></table>
    <![endif]--></td></tr></table></div></td></tr></table><!--[if (gte mso 9)|(IE)]>
    </td></tr></table>
    <![endif]--></div></body></html>