{% load staticfiles %}{% load i18n %}
<!doctype html>
<!--[if lt IE 7]>      
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
<![endif]-->
<!--[if IE 7]>         
<html class="no-js lt-ie9 lt-ie8" lang="">
<![endif]-->
<!--[if IE 8]>         
<html class="no-js lt-ie9" lang="">
<![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block head_title%}Store{% endblock head_title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <style>
      {% block style %}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 16;
}

.dropdown-content a {
    font-family: 'MullerMedium', sans-serif;
    color: #7f8c9b;
    padding-left: 10px;
    text-decoration: none;
    display: block;
    line-height: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


      {% endblock style %}
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div>
    <nav class="navbar main-navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid wrapper">
      <div class="row">
        <div class="col-md-12">
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="header-main main-logo" href="{% url 'store_items_list' %}"><img src="{% static 'mailfit_blue.png' %}"><span>Store</span></a>
          </div>
          <div id="navbar" class="pull-right navbar-collapse collapse">
            <div class="form-group" style="padding-right: 5px">
              <input id="id_searchMain" type="text" class="form-control" name="searchMain" maxlength="300" style="margin: 25px 0px 0px 0px; min-width: 300px">
            </div>
            <form id="id_searchQueryForm" method="post" hidden="hidden" action="{% url 'search_view' %}">
              {% csrf_token %}
              <input id="id_searchQuery" type="text" name="searchQuery">
            </form>
            <div class="form-group">
              <button id="id_searchMainBtn" class="btn btn-primary" name="searchMainBtn">Search</button>
            </div>
            <script type="text/javascript">
              $("#id_searchMainBtn").on('click', function(){
                $("#id_searchQuery").val($("#id_searchMain").val());
                if ($("#id_searchQuery").val() != ''){
                  $("#id_searchQueryForm").submit();
                }
              });
            </script>
            <div class="form-group dropdown">
              <a id="templates" class="navbar-link-customized" href="">{% trans "Categories" %}</a>
              <div class="dropdown-content">
              {% for cat in categories_list %}
                <a href="{% url 'store_items_list_cat' cat.id %}">{{ cat.name }}</a>
              {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <a class="navbar-link-customized" href="{% url 'cart' %}">{% trans "Cart" %} </a><span id="id_cartItemsCount">{{ cart_items_count }}</span> <span>{% trans "items" %}</span>
            </div>
            {% if request.user.is_authenticated %}
            <div class="form-group">
              <a class="navbar-link-customized" href="{% url 'order_list' %}">{% trans "Orders" %} </a>
            </div>
            <div class="form-group">
              <a class="navbar-link-customized" href="{% url 'profile' %}">{% trans "Profile" %}</span>
            </div>
              <div class="form-group">
                <a class="navbar-link-customized" href="{% url 'logout' %}">{% trans "Log out" %}</a>
              </div>
            {% else %}
              <div class="form-group">
                <a class="navbar-link-customized" href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
              </div>
            {% endif %}
          </div>
          <!--/.navbar-collapse -->
        </div>
      </div>
      </div>
      </nav>
    </div>
    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
  <footer>
      <div class="container-fluid wrapper">
        <div class="row">
          <div class="col-sm-12 col-md-2">
            <a href="#" class="footer-logo main-logo">
            <img src="{% static 'mailfit.png' %}" width="33" height="35" alt="Maksim Novikov store">
            <span>Store</span>
          </a>
            <div class="social-block">
            <a href="http://www.facebook.com/maksim.novikof" class="social-block-item fb" target="_blank"><svg version="1.1" width="14" height="30" id="fb-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17 35" style="enable-background:new 0 0 17 35;" xml:space="preserve">
<g>
  <defs>
    <rect id="SVGID_1_" y="0" width="17" height="35"></rect>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
  </clipPath>
  <path class="st0" d="M11,35V18h5l1-6h-6V9c0-2,1-3,3-3h3V0h-5C7,0,5,3,5,8v4H0v6h5v17H11z"></path>
</g>
</svg></a>
            <a href="https://vk.com/maksimmnovikov" class="social-block-item vk" target="_blank"><svg width="31" height="19" version="1.1" id="vk-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 228.2" style="enable-background:new 0 0 400 228.2;" xml:space="preserve">
<g>
  <defs>
    <rect id="SVGID_1_" width="400" height="228.2"></rect>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
  </clipPath>
  <path fill="#000000" class="st0" d="M195.7,227.2h23.9c0,0,7.2-0.8,10.9-4.8c3.4-3.6,3.3-10.5,3.3-10.5s-0.5-32.1,14.4-36.8
    c14.7-4.7,33.5,31,53.5,44.7c15.1,10.4,26.6,8.1,26.6,8.1l53.4-0.7c0,0,27.9-1.7,14.7-23.7c-1.1-1.8-7.7-16.3-39.7-45.9
    c-33.5-31.1-29-26.1,11.3-79.8C392.6,45,402.5,25,399.4,16.5c-2.9-8.2-21-6-21-6l-60.1,0.4c0,0-4.5-0.6-7.8,1.4
    c-3.2,1.9-5.3,6.5-5.3,6.5s-9.5,25.3-22.2,46.9c-26.8,45.5-37.5,47.9-41.9,45.1c-10.2-6.6-7.6-26.4-7.6-40.5
    c0-44.1,6.7-62.4-13-67.2c-6.5-1.6-11.4-2.6-28.1-2.8c-21.5-0.2-39.6,0.1-49.9,5.1c-6.8,3.4-12.1,10.8-8.9,11.3
    c4,0.5,13,2.4,17.7,8.9c6.2,8.4,5.9,27.2,5.9,27.2s3.5,51.9-8.3,58.3c-8.1,4.4-19.2-4.6-43.1-45.9C93.6,43.9,84.4,20.5,84.4,20.5
    s-1.8-4.4-5-6.7c-3.9-2.8-9.2-3.7-9.2-3.7L13,10.4c0,0-8.6,0.2-11.7,4c-2.8,3.3-0.2,10.2-0.2,10.2S45.8,129.3,96.5,182
    C143,230.4,195.7,227.2,195.7,227.2"></path>
</g>
</svg></a>
          </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <nav class="footer-menu">
              <ul class="clearfix">
                <li><a href="#">{% trans 'About' %}</a></li>
                <li><a href="#">{% trans 'Services' %}</a></li>
                <li><a href="#">{% trans 'Careers' %}</a></li>
                <li><a href="http://maxnovikov.com">{% trans 'Blog' %}</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="footer-txt"><a href="tel:79999860811">+7 9660677755</a></div>
            <div class="footer-txt"><a href="mailto:mail@maxnovikov.com">mail@maxnovikov.com</a></div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="footer-form">
            <p class="footer-form-descr">{% trans 'Marketing newsletter' %}</p>
            <form class="form_mail">
              <input type="email" class="form-control" placeholder="Email*" required="">
              <button type="submit" class="footer-form-btn">{% trans 'Subscribe' %}</button>
            </form>
          </div>
            
          </div>

      </div>
      <div class="footer-info">           
      </div>
      </div>
         
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
      if ("{{ tab }}") {
        $("#{{ tab}}").css('color', '#2865f1')
      } 
    </script>
    <script type="text/javascript">
      $("#id_searchMainBtn").on('click', function(){
        console.log($("#id_searchMain").val())
      });
    </script>
  </body>
</html>