{% extends 'base.html' %}{% load crispy_forms_tags %}
{% load staticfiles %}{% load i18n %}
{% block head_title%}Store{% endblock head_title %}


{% block head %}{% endblock head %}
{% block content %}

<div class="page-wrap">
  <a href="{% url 'store_items_list' %}" class="reg-link reg-link_arrl">{% trans 'Back to templates' %}</a>
  <div class="container-fluid">
      

  <div class="single-col">
    <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input id="id_cartAddBtn" type="submit" name="" class="reg-btn" value="{% trans 'Checkout' %}">
    </form>
  </div>
</div>

{% endblock content %}