{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}
{% block head_title%}Store{% endblock head_title %}


{% block head %}{% endblock head %}
{% block content %}

<div class="page-wrap">
  <a href="{% url 'store_items_list' %}" class="reg-link reg-link_arrl">{% trans 'Back to templates' %}</a>
  <div class="container-fluid">
      

  <div class="single-col">
    {% for order in orders_list%}
      <div class="single-col-form">
        <img src="{{ item.image.url }}">
      </div>
      <div class="single-col-text" style="margin: 10px">Created: {{ order.created }}</div>
      <div class="single-col-text" style="margin: 10px">Items: {{ order.get_cart.get_items_count }}</div>
      {% for item in order.get_cart.get_items %}
        <div class="single-col-text" style="margin: 10px"><a href="{% url 'store_item_detail' item.id %}">{{ item.name }}</a></div>
        <div class="single-col-text" style="margin: 10px">{{ item.price }} р.</div>
        {% if order.is_paid %}
        <div class="single-col-text" style="margin: 10px"><a href="{{ item.file.url }}">{% trans 'Download' %}</a></div>
        {% endif %}
      {% endfor %}
      <br>
      <div class="single-col-text" style="margin: 10px">Total: {{ order.total }} р.</div>
      {% if not order.is_paid %}
        <div class="input-button-wrap">
          <a id="" type="submit" name="" class="reg-btn" href="{% url 'make_payment' order.id %}">{% trans 'Proceed to payment' %}</a>
        </div>
      {% endif %}
      <hr>
      <br><br>
    {% endfor %}
  </div>
</div>
{% endblock content %}