{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}{% load crispy_forms_tags %}
{% block head_title%}Store{% endblock head_title %}


{% block head %}{% endblock head %}
{% block content %}

<div class="page-wrap">
  <a href="{% url 'store_items_list' %}" class="reg-link reg-link_arrl">{% trans 'Back to templates' %}</a>
  <div class="container-fluid">
    <div class="single-col">
      <form method="post">
        {% csrf_token %}
        {{ profile_form|crispy }}
        <div class="input-button-wrap">
          <input id="" type="submit" name="save_profile" class="reg-btn" value="{% trans 'Save' %}">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}