{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}
{% block head_title%}Store{% endblock head_title %}


{% block head %}{% endblock head %}
{% block content %}

<div class="page-wrap">
  <a href="{% url 'store_items_list' %}" class="reg-link reg-link_arrl">{% trans 'Back to templates' %}</a>
  <div class="container-fluid">
      

  <div class="single-col">
    <div class="single-col-form">
      <img src="{{ item.image.url }}">
    </div>
    <div class="single-col-text" style="margin: 10px">{{ item.name }}</div>
    <div class="single-col-text" style="margin: 10px">{{ item.description }}</div>
    <div class="single-col-text" style="margin: 10px">{{ item.price }} р.</div>
    <div class="input-button-wrap">
      <input id="id_cartAddBtn" type="submit" name="" class="reg-btn" value="{% trans 'Add to cart' %}">
    </div>
    <form id="id_cartAddForm" method="post" hidden="hidden">{% csrf_token %}
      <input id="id_itemId" type="text" name="itemId">
    </form>
  </div>
</div>
<script type="text/javascript">
  $("#id_cartAddBtn").on('click', function() {
    $("#id_itemId").val("{{ item.id }}");
    $("#id_cartAddForm").submit();
  });
</script>
<script type="text/javascript">
$(document).ready(function() {
  var form = $('#id_cartAddForm'); // contact form

  // form submit event
  form.on('submit', function(e) {
    e.preventDefault(); // prevent default form submit

    $.ajax({
      url: '{% url "cart_item_add" %}', // form action url
      type: 'POST', // form submit method get/post
      dataType: 'html', // request type html/json/xml
      data: form.serialize(), // serialize form data 
      beforeSend: function() {},
      success: function(data) {
        data = JSON.parse(data);
        $("#id_cartItemsCount").text(data.cart_items_count)
        console.log(data)
      },
      error: function(e) {
        console.log(e.responseText);
      }
    });
  });
});
</script>
{% endblock content %}