{% extends 'base.html' %}
{% load staticfiles %}{% load i18n %}
{% block head_title%}Store{% endblock head_title %}
{% block head %}{% endblock head %}
{% block content %}
  <div class="reg-title">{% trans 'Meet our new templates store' %}</div>
  <div class='grid-wrap'>
    <div class="col-centered col-md-8 clearfix">
    <div class="row">
      {% for item in store_items_list %}
      <div class="col-xs-12 col-sm-6 col-lg-4 grid-item">
        <div class="thumbnail">
          <div class="grid-img">
            <div class="grid-img-inner" style="bottom: 25px">
              <div class="grid-actions">
                <div class="grid-actions-item">
                  <div class="grid-actions-tooltip">{% trans 'Add to cart' %}</div>
                  <a href="" class="grid-actions-btn grid-cart-add" data-item-id="{{ item.id }}">
                    <svg version="1.1" width="20" height="19" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 22 19.9" style="enable-background:new 0 0 22 19.9;" xml:space="preserve">
                    <path class="st0" d="M1,3.6h20v15.3H1V3.6z M0,19.9h22V2.5H0V19.9z"/>
                    <g>
                      <path class="st0" d="M11,14.8l-3.6-3.6l0.7-0.7l2.4,2.4V7.1h1v5.7l2.4-2.4l0.7,0.7L11,14.8z M18.1,1H3.9V0h14.2V1z"/>
                    </g>
                    <rect class="st1" width="22" height="19.9"/>
                    </svg>
                  </a>
                </div>
              </div>
              <a href="{% url 'store_item_detail' item.id %}" class="reg-btn">Выбрать</a>
            </div>
          {% if item.image %}
          <img src="{{ item.image.url }}" alt="...">
          {% else %}
          <img src="{% static 'loading.png' %}" style="" alt="...">
          {% endif %}
          </div>
          <p class="grid-title"><span>{{ item.name }}</span></p>
        </div>
      </div>
      {% endfor %}
      <div class="col-xs-12 col-sm-6 col-lg-4 grid-item">
        <form id="id_cartAddForm" method="post" hidden="hidden">
          {% csrf_token %}
          <input id="id_itemId" type="text" name="itemId">
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".grid-cart-add").on('click', function(e) {
    e.preventDefault();
    $("#id_itemId").val($(this).attr('data-item-id'));
    $("#id_cartAddForm").submit();
  });
</script>
<script type="text/javascript">
$(document).ready(function() {
  var form = $('#id_cartAddForm'); // contact form

  // form submit event
  form.on('submit', function(e) {
    e.preventDefault(); // prevent default form submit

    $.ajax({
      url: '{% url "cart_item_add" %}', // form action url
      type: 'POST', // form submit method get/post
      dataType: 'html', // request type html/json/xml
      data: form.serialize(), // serialize form data 
      beforeSend: function() {},
      success: function(data) {
        data = JSON.parse(data);
        $("#id_cartItemsCount").text(data.cart_items_count)
        console.log(data)
      },
      error: function(e) {
        console.log(e.responseText);
      }
    });
  });
});
</script>
{% endblock content %}